.button {
  --button-bg: var(--bg-neutral-1);
  --button-bg-hover: var(--bg-focus-1);
  --button-bg-active: var(--bg-active-1);
  --button-text: var(--text-action);

  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 8px;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  flex: 1 1 auto;

  &.primary {
    --button-bg: var(--bg-accent-1);
    --button-bg-hover: var(--bg-accent-hover);
    --button-bg-active: var(--bg-accent-active);
    --button-text: var(--text-primary-on-accent);
  }

  &.secondary {
    --button-bg: var(--bg-neutral-1);
    --button-bg-hover: var(--bg-focus-1);
    --button-bg-active: var(--bg-active-1);
    --button-text: var(--text-action);
  }

  &.misc {
    --button-bg: transparent;
    border: 1px solid var(--border-normal);
    --button-text: var(--text-action);
  }

  &.edit {
    --button-bg: var(--bg-accent-2);
    --button-bg-hover: var(--bg-accent-2-hover);
    --button-bg-active: var(--bg-accent-2-active);
    --button-text: var(--text-primary-on-dark);
  }

  &.small {
    padding: 4px 10px;
    height: 32px;
    width: fit-content;
  }

  &:disabled {
    background-color: white;
  }

  &:not(:disabled) {
    @media screen and (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: var(--button-bg-hover);
      }
    }

    &:active {
        background-color: var(--button-bg-active);
    }
  }
}

.icon-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
