@import "theme.css";
@import "inputs.css";
@import "buttons.css";
@import "auth-dialog.css";
@import "header.css";
@import "post.css";
@import "feed.css";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-width: 320px;
}

body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-family: sans-serif;
}

.content {
    flex: 1 0 auto;
    display: flex;
    background-color: #fff;
    font-size: 15px;
    line-height: 24px;
}